In [4]:
import pandas as pd
import dask.dataframe as dd
import os
import sys
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
path_stocks = '/home/rishabh/Documents/Data_Science_Projects/DS_Medium_post/stocks/Stocks'

In [3]:
# os.listdir(path_stocks)

In [91]:
%time
df = pd.read_csv('/home/rishabh/Documents/Data_Science_Projects/DS_Medium_post/stocks/Stocks/cpl.us.txt')
cols = df.columns

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 11 µs

In [96]:
cols

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'OpenInt'], dtype='object')

In [98]:
# df_list = []
df_Open = pd.DataFrame(list())
df_High = pd.DataFrame(list())
df_Low = pd.DataFrame(list())
df_Close = pd.DataFrame(list())
df_Volume = pd.DataFrame(list())
df_OpenInt = pd.DataFrame(list())

for stock in os.listdir(path_stocks):
    filesize = os.path.getsize(path_stocks+'/'+stock)

    if filesize == 0:continue
    if stock.split('.')[2] != 'txt':continue
    path = path_stocks+'/'+stock
    for col in cols:
        
        if col == 'Date':continue
        df_temp = pd.read_csv(path, usecols=['Date', col], index_col='Date')
        new_col = stock.split('.')[0]+col
        if col == 'Open':
            df_Open[new_col] = df_temp[col]
            
        elif col == 'High':
            df_High[new_col] = df_temp[col]
            
        elif col == 'Low':
            df_Low[new_col] = df_temp[col]
            
        elif col == 'Close':
            df_Close[new_col] = df_temp[col]
            
        elif col == 'Volume':
            df_Volume[new_col] = df_temp[col]
            
        elif col == 'OpenInt':
            df_OpenInt[new_col] = df_temp[col]
            
#         sys.exit(0)
        del(df_temp)

In [99]:
df_Open.index = pd.to_datetime(df_Open.index)
df_High.index = pd.to_datetime(df_High.index)
df_Low.index = pd.to_datetime(df_Low.index)
df_Close.index = pd.to_datetime(df_Close.index)
df_Volume.index = pd.to_datetime(df_Volume.index)
df_OpenInt.index = pd.to_datetime(df_OpenInt.index)

In [100]:
df_Open.to_csv('df_Open.csv')
df_High.to_csv('df_High.csv')
df_Low.to_csv('df_Low.csv')
df_Close.to_csv('df_Close.csv')
df_Volume.to_csv('df_Volume.csv')
df_OpenInt.to_csv('df_OpenInt.csv')

In [6]:
df = pd.read_csv('../data/df_Open.csv')

In [9]:
df

,Date,cplOpen,dradOpen,geneOpen,csfOpen,slctOpen,afsi_eOpen,mlnxOpen,dhxOpen,cbrlOpen,...,amgnOpen,dwtOpen,pruOpen,kerxOpen,gssOpen,crvpOpen,lvusOpen,msdiOpen,wsoOpen,discbOpen
0,2005-02-25,5.7137,6.3329,NaN,NaN,12.2200,NaN,NaN,NaN,33.084,...,54.155,NaN,46.869,12.20,3.0100,2.290,NaN,NaN,29.679,NaN
1,2005-02-28,5.7261,6.1928,NaN,NaN,NaN,NaN,NaN,NaN,33.039,...,54.357,NaN,47.565,12.83,2.9400,2.400,NaN,NaN,29.969,NaN
2,2005-03-01,5.7016,6.1106,NaN,NaN,11.7200,NaN,NaN,NaN,33.264,...,53.831,NaN,46.908,12.90,2.8000,2.550,NaN,NaN,29.976,NaN
3,2005-03-02,5.6377,6.4976,NaN,NaN,12.5000,NaN,NaN,NaN,33.420,...,54.104,NaN,46.884,12.87,2.7400,2.480,NaN,NaN,30.570,NaN
4,2005-03-03,5.6401,6.3082,NaN,NaN,NaN,NaN,NaN,NaN,33.554,...,54.200,NaN,46.948,12.60,2.9600,2.480,NaN,NaN,30.533,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,2017-11-06,16.7000,2.5000,0.8200,43.78,11.6581,25.35,44.15,2.0,155.930,...,172.860,18.10,111.680,6.60,0.8500,0.701,25.21,0.6900,165.780,21.10
3197,2017-11-07,16.7500,2.5500,0.7700,43.72,11.6459,25.09,46.00,2.0,157.040,...,170.610,16.69,112.720,4.90,0.8126,0.701,25.21,0.7000,166.340,NaN
3198,2017-11-08,16.9200,2.5000,0.7784,43.31,11.6300,25.05,46.10,1.9,153.530,...,174.000,16.85,111.930,5.12,0.7965,0.730,25.21,0.6718,167.590,NaN
3199,2017-11-09,16.9200,2.5500,0.8000,43.15,11.5600,24.90,49.85,1.9,152.500,...,172.750,16.91,111.900,5.03,0.7900,NaN,25.21,0.9600,165.100,22.25
3200,2017-11-10,16.7900,2.5500,0.7920,43.33,11.5500,24.59,49.15,1.9,154.160,...,173.150,16.67,112.020,4.90,0.8000,0.750,25.21,0.8500,163.900,NaN

In [10]:
from bokeh.plotting import figure, output_file, show

def plot_stock(stock,df):
    
    '''
    This function plots the time-series line plot of a stock
    
    input: stock name: ex: aapl, amzn, tsla
    
    output: line plot of the open price with 2sigma bands
    '''
    x = df.index.values.tolist()
    y0 = df[stock+'Open'].values.tolist()
    y0_rolling_mean= df[stock+'Open'].rolling(window=10).mean()
    y0_rolling_std= df[stock+'Open'].rolling(window=10).std()


    # output to static HTML file
    output_file("aapl.html")

    # create a new plot
    p = figure(
       tools="pan,box_zoom,reset,save",
        title="Open Price",
       x_axis_label='date',
        y_axis_label='Open Price',
        x_axis_type='datetime',
        plot_width=1000
    )


    p.line(x, y0, legend_label=stock, line_width=3)
    p.line(x, y0_rolling_mean+(2*y0_rolling_std), legend_label="aapl+roll", line_color="red")
    p.line(x, y0_rolling_mean-(2*y0_rolling_std), legend_label="aapl-roll", line_color="red")

    # show the results
    show(p)

In [11]:
plot_stock('aapl', df)